.list-all{
  display: flex;
  gap: 20px;

}

.heading{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
  margin: 0;;
}


.container {
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  gap:1vw;
  padding: 0 32px 0 32px;
  box-sizing: border-box;
}
.label {
  display: flex;
  justify-content: center;
  width: 80%;
}

img {
  height: 50px;
  width: 50px;
  vertical-align: middle
}

.text-container {
  display: flex;
  white-space: normal;
  vertical-align: middle;
  align-content: center;
  text-align: center;
}

h1 {text-align: center;}

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: 'Cabin', Sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
  display: block;
  height: 50px;
  width: 100%;
  background: #542657;
  margin: 0px; 
  z-index: 1;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

#main-menu li {
  list-style-type: none;
  font-size: 1rem;
}

#main-menu a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
  z-index: 3;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #3D0E61, #3D0E61 20%, 
      white 20%, white 40%, 
      #3D0E61 40%, #3D0E61 60%, 
      white 60%, white 80%, 
      #3D0E61 80%, #3D0E61 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3D0E61;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    z-index: 3;
}

#hamburger-menu h3 {
  color: #B9FAF8;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #B9FAF8;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  list-style-type: none;
  font-size: 1rem;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #542657;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.right, .left {
  display: flex; 
  justify-content: flex-end;
  align-items: flex-start;
  width: 10%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 32px;
  padding: 16px;
}

.fa-instagram {
  margin-left: 5px;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
  width: 32px;
  padding: 16px;
}
.bmp, .crest {
  width: 128px;
  height: 128px;
}

@media screen and (max-width: 1000px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  #twitter, #instagram {
    font-size: 16px;
    width: 32px;
    padding: 16px;
  }
  .bmp, .crest {
    width: 96px;
    height: 96px;
  }
  .text-container {
    font-size: 20px;
  }
}

